<mat-card class="alternate-theme">
    <mat-card-header>
        <mat-card-title>
            Coupon
        </mat-card-title>
        <mat-card-subtitle>
            Click the button for a coupon
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <!-- <button mat-button color="primary">Flat</button> -->
        <button mat-raised-button color="primary">Click Here!</button>
        <!-- <button mat-fab color="accent">Check [Fab]</button>
        <button mat-mini-fab color="accent">Chick (mini-Fab)</button> -->
    </mat-card-content>
</mat-card>
