@import '../../../styles';
@import '../../../theme';

//The below code will not work

//The image tag works which is 
//what is currently used for displaying images in the grid
// img {
//     background-size: cover;
// }
.demo-grid-list {  
    .carrot {
        max-width:auto;
        height:100%;
        background-size:cover;
    }
  }